.main-content {
    width: 100%;
    height: 500px; /* Вы можете изменить это значение в зависимости от ваших потребностей */
    overflow-y: auto; /* Это позволит прокручивать содержимое, если оно превышает максимальную высоту */
}
